* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 19px;
}

body {
	background: #F1F5F6;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

button {
	border: none;
	background-color: inherit;
	cursor: pointer;

}

.authorization__submit:hover,
.settings__submit:hover,
.dialog__btn-settings:hover,
.dialog__btn-exit:hover,
.dialog__message-submit:hover,
.confirmation__submit:hover,
.notice__submit:hover {
	background-color: rgba(99, 99, 99, 0.01);
	box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 5px 0px;
}

.dialog {
	width: 320px;
	height: 533px;
}

.settings-container,
.authorization-container,
.confirmation-container,
.notice-container {
	background-color: rgba(99, 99, 99, 0.01);
	box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 5px 0px;
}

.container {
	background: linear-gradient(90deg, #1D9CC5 0, #547ACA 100%) no-repeat;
	padding: 8px 0px 8px 0px;
	max-width: 320px;
	box-shadow: 4px 4px 4px #4f4f4f;
	border-radius: 5px;
	border: 1px solid #6262b3;
}

.dialog__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
}


.dialog__btn-settings,
.dialog__btn-exit {
	font-size: 13px;
	width: 21%;
	height: 32px;
	margin-left: 8px;
	margin-right: 8px;
	color: #000000;
	padding: 7px;
	background: linear-gradient(90deg, #ffffff 0, #e3ebf2 100%) no-repeat;
	border: 1px solid #39aea9;
	border-radius: 5px;
	box-shadow: 1px 2px 5px #60568f33;
}

.dialog__btn-settings {
	width: 23%;
}

.dialog__message-box {
	height: 435px;
	overflow: scroll;
	display: flex;
	flex-flow: column-reverse nowrap;
	background: linear-gradient(90deg, #1D9CC5 0, #547ACA 100%) no-repeat;
	overflow-x: hidden;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	padding: 8px;
	margin-bottom: 8px;
}

.dialog__message {
	display: flex;
	flex-direction: column;
	padding: 8px;
	max-width: 272px;
}


.dialog__message+.dialog__message {
	margin-top: 8px;

}

.dialog__message-list {
	display: flex;
	flex-direction: column;

}

.notification_message {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.notofication-text {
	font-size: 13px;
	user-select: none;
	color: #ECC781;
	margin-bottom: 8px;
}

.dialog__delivered_message {
	background-color: #ffffff;
	box-shadow: 1px 2px 5px #00000033;
	color: #000000;
}

.dialog__send_message {
	background-color: #ffffff;
	box-shadow: rgba(67, 64, 64, 0.2) 1px 2px 5px 0px;
	border: 2px solid #f10f0f;
}


.message-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 4px;
}

.message-inner .userNoSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 14px;

}


.dialog__message-text {
	word-break: break-word;
	font-size: 14px;
}

.dialog__message-time {
	font-size: 13px;
	align-self: flex-end;
	margin-top: 4px;
	font-style: italic;
	font-weight: 300;
	user-select: none;
}

.dialog__personal_message {
	align-self: flex-end;
	border-radius: 5px;
	transition: background 0.5s ease;
	;
}

.dialog__someone_message {
	align-self: flex-start;
	border-radius: 5px;
}

.dialog__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.dialog__message-input {
	height: 100%;
	width: 78%;
	padding: 7px;
	margin-left: 8px;
	font-size: 14px;
	background-color: #FFFFFF;
	box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 5px 0px;
	border-radius: 5px;
	outline: unset;
	border: 1px solid rgba(75, 67, 102, 0.2);
}

.personalMessage {
	color: #1c5b92;
}

.someoneMessage {
	color: #000000;
}

.dialog__message-submit {
	padding: 7px;
	width: 15%;
	height: 100%;
	margin-right: 8px;
	font-size: 14px;
	color: #000000;
	background: linear-gradient(90deg, #ffffff 0, #e3ebf2 100%) no-repeat;
	border: 1px solid #39aea9;
	border-radius: 5px;
	box-shadow: 1px 2px 5px #60568f33;
}


.dialog__message-box::-webkit-scrollbar {
	width: 0 ! important
}

.settings {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	position: absolute;

}

.settings-container {
	background: #FFFFFF;
	padding: 12px 12px 0px 15px;
	width: 273px;
	height: 319px;
	box-shadow: rgba(96, 86, 143, 0.2) 1px 2px 5px 0px;
	border-radius: 5px;
}

.settings__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.settings__close {
	width: 16px;
	height: 16px;
	background-image: url("./img/close-icon.svg");
	background-position: center;
}

.settings__bottom {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}

.settings__input {
	width: 80%;
	height: 32px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #000;
	outline: none;
	box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 5px 0px;
	border-radius: 5px;
	outline: unset;
	border: 1px solid rgba(75, 67, 102, 0.2);
}

.settings__submit {
	width: 15%;
	height: 32px;
	padding: 6px 8px;
	border: 1px solid #000;
	color: #FFFFFF;
	background: linear-gradient(90deg, #1D9CC5 0, #547ACA 100%) no-repeat;
	border: 1px solid #39aea9;
	border-radius: 5px;
	box-shadow: 1px 2px 5px #60568f33;
}

.settings__text {
	opacity: 100%;
}


.authorization {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	position: absolute;

}

.authorization-container {
	background: #FFFFFF;
	padding: 12px 12px 0px 15px;
	width: 273px;
	height: 319px;
	border-radius: 5px;
	border-radius: 5px;
	box-shadow: rgba(214, 212, 225, 0.2) 1px 2px 5px 0px;
}

.authorization__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
}

.authorization__close {
	width: 16px;
	height: 16px;
	background-image: url("./img/close-icon.svg");
	background-position: center;
}

.authorization__bottom {
	margin-top: 8px;
	display: inline-block;
	justify-content: space-between;
}

.authorization__input {
	margin-bottom: 8px;
	border: unset;
	outline: unset;
	height: 100%;
	width: 100%;
	height: 32px;
	border-radius: 5px;
	padding: 10px;
	font-size: 13px;
	box-shadow: 1px 2px 5px #60568f33;
}

.authorization__submit {
	width: 50%;
	height: 32px;
	border: 1px solid #000;
	color: #FFFFFF;
	background: linear-gradient(90deg, #1D9CC5 0, #547ACA 100%) no-repeat;
	border: 1px solid #39aea9;
	border-radius: 5px;
	box-shadow: 1px 2px 5px #60568f33;
}




.authorization__text {
	width: 50px;
	height: 19px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.hasCode {
	margin-top: 90px;
	font-size: 13px;
}

.Enter {
	font-size: 13px;
}

.Enter:hover {
	text-decoration: underline;
	color: #547ACA;
	cursor: pointer;
}

.confirmation {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	position: absolute;

}

.confirmation-container {
	background: #FFFFFF;
	padding: 12px 12px 0px 15px;
	width: 273px;
	height: 319px;
	border-radius: 5px;
	box-shadow: rgba(96, 86, 143, 0.2) 1px 2px 5px 0px;
}

.confirmation__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
}

.confirmation__close {
	width: 16px;
	height: 16px;
	background-image: url("./img/close-icon.svg");
	background-position: center;
}

.confirmation__bottom {
	margin-top: 8px;
	display: inline-block;
	justify-content: space-between;
}

.confirmation__input {
	margin-bottom: 8px;
	border: unset;
	outline: unset;
	height: 100%;
	width: 100%;
	height: 32px;
	border-radius: 5px;
	padding: 10px;
	font-size: 13px;
	box-shadow: 1px 2px 5px #60568f33;
}

.confirmation__submit {
	width: 50%;
	height: 32px;
	border: 1px solid #000;
	color: #FFFFFF;
	background: linear-gradient(90deg, #1D9CC5 0, #547ACA 100%) no-repeat;
	border: 1px solid #39aea9;
	border-radius: 5px;
	box-shadow: 1px 2px 5px #60568f33;
	box-sizing: border-box;
}

.confirmation__text {
	width: 50px;
	height: 19px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.notice {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	position: absolute;
}

.notice-container {
	background: #FFFFFF;
	padding: 12px 12px 0px 15px;
	width: 400px;
	height: 170px;
	border-radius: 5px;
	border-radius: 5px;
	box-shadow: rgba(214, 212, 225, 0.2) 1px 2px 5px 0px;
}

.notice__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
	user-select: none;

}

.notice__close {
	width: 16px;
	height: 16px;
	background-image: url("./img/close-icon.svg");
	background-position: center;
}


.notice__submit {
	margin-left: 330px;
	margin-top: 40px;
	width: 45px;
	height: 32px;
	border: 1px solid #000;
	color: #FFFFFF;
	background: linear-gradient(90deg, #1D9CC5 0, #547ACA 100%) no-repeat;
	border: 1px solid #39aea9;
	border-radius: 5px;
	box-shadow: 1px 2px 5px #60568f33;
}


.notice__text {
	width: 380px;
	height: 19px;
	padding-right: 12px;
	font-family: 'Roboto';
	user-select: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}